<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452196743694-6t317an0jj3un9aev9kni0h6f6p5849q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452196743694-6t317an0jj3un9aev9kni0h6f6p5849q</string>
	<key>API_KEY</key>
	<string>AIzaSyBNCwyeCvD7ZnAgu0W4msG61C3d-SEYQIU</string>
	<key>GCM_SENDER_ID</key>
	<string>452196743694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kylecross.listus</string>
	<key>PROJECT_ID</key>
	<string>listus-f63f8</string>
	<key>STORAGE_BUCKET</key>
	<string>listus-f63f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452196743694:ios:d7659194db2d94c7</string>
	<key>DATABASE_URL</key>
	<string>https://listus-f63f8.firebaseio.com</string>
</dict>
</plist>
